.wrapper {
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
}

header {
  padding: 30px 0 0;
  border-bottom: solid;
  background-image: url("https://is.muni.cz/auth/de/460980/Gluten_free.jpg");
}

footer {
  border-top: dotted;
  clear: both;
}

.page {
  float: right;
  width: 70%;
  border-left: dotted;
  padding-left: 1.6em;
  padding-bottom: 2em;
  min-height: 400px;
  background-color: rgba(198, 138, 42, 0.7);

}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}
